#!/usr/bin/make -f
# -*- makefile -*-

####################################################################################################
# VARIABLES: SHELL
####################################################################################################
export SHELL=/bin/bash

####################################################################################################
# VARIABLES: DEBIAN HELPER
####################################################################################################
export DH_ALWAYS_EXCLUDE=.git/
export DH_OPTIONS
export DH_OPTIONS_AUTO=--builddirectory="debian/build/main/debian" --sourcedirectory="src/main/debian"
export DH_VERBOSE

####################################################################################################
# TARGETS
####################################################################################################
%:
	dh "$@"

override_dh_auto_build:
	dh_auto_build $(DH_OPTIONS_AUTO)

override_dh_auto_install:
	dh_auto_install $(DH_OPTIONS_AUTO)

override_dh_auto_test:
	dh_auto_test $(DH_OPTIONS_AUTO)

override_dh_install:
	mkdir -p "debian/build/main/debian"
	cp -a "src/main/debian" -T "debian/build/main/debian"
	dh_install --autodest --fail-missing --sourcedir="debian/build/main/debian"
