#!/usr/bin/make -f
# -*- makefile -*-

####################################################################################################
# VARIABLES: SHELL
####################################################################################################
export SHELL=/bin/bash

####################################################################################################
# VARIABLES: DEBIAN HELPER
####################################################################################################
export DH_ALWAYS_EXCLUDE=.git/
export DH_OPTIONS?=
export DH_VERBOSE?=0

####################################################################################################
# TARGETS
####################################################################################################
%:
	dh "$@"
