[Unit]
Description=x11vnc Service

[Service]
Type=simple
ExecStart=/usr/sbin/systemd-x11vnc
StandardError=journal
StandardInput=socket
StandardOutput=socket
