[Unit]
Description=x11vnc Socket

[Socket]
Accept=true
ListenStream=5900
MaxConnections=16
TriggerLimitBurst=1
TriggerLimitIntervalSec=1s

[Install]
WantedBy=sockets.target
